Repository marco-figment/ledger-live, pull requests merged in 2022-08, with the labels that each got.

#2 Add osmosis bot tests
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/osmosis/speculos-deviceActions.ts
Labels: common, fork

#3 attempt fixing live-types
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/osmosis/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/osmosis/api/sdk.unit.test.ts
  libs/ledger-live-common/src/families/osmosis/bridge.integration.test.ts
  libs/ledger-live-common/src/families/osmosis/bridge/js.ts
Labels: common

#4 Feat/add powered by figment drawer
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader/AccountSubHeader.styles.jsx
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader/AccountSubHeaderDrawer.jsx
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader/AccountSubHeaderDrawer.styles.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations, fork

#5 Add osmosis bridge tests
  libs/ledger-live-common/src/families/osmosis/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/osmosis/bridge.integration.test.ts
Labels: common, fork

#6 feat: staking info table
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/osmosis/AccountBodyHeader.js
  apps/ledger-live-mobile/src/families/osmosis/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/osmosis/Delegations/index.tsx
Labels: mobile, fork

#7 feat: osmosis redelegation flow in LLM
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/osmosis/RedelegationFlow/01-SelectValidator.js
  apps/ledger-live-mobile/src/families/osmosis/RedelegationFlow/04-ValidationError.js
  apps/ledger-live-mobile/src/families/osmosis/RedelegationFlow/04-ValidationSuccess.js
  apps/ledger-live-mobile/src/families/osmosis/RedelegationFlow/index.js
  apps/ledger-live-mobile/src/families/osmosis/index.js
Labels: mobile, fork

#8 Feat/add undelegate
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/osmosis/UndelegationFlow/01-Amount.js
  apps/ledger-live-mobile/src/families/osmosis/UndelegationFlow/03-ValidationError.js
  apps/ledger-live-mobile/src/families/osmosis/UndelegationFlow/03-ValidationSuccess.js
  apps/ledger-live-mobile/src/families/osmosis/UndelegationFlow/index.js
  apps/ledger-live-mobile/src/families/osmosis/index.js
Labels: mobile, fork

#9 Add operation details
  apps/ledger-live-mobile/src/families/osmosis/operationDetails.js
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#10 cosmos -> osmosis
  apps/ledger-live-mobile/src/families/osmosis/operationDetails.js
Labels: mobile, fork

#11 feat: transaction confirm fields
  apps/ledger-live-mobile/src/families/osmosis/TransactionConfirmFields.js
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#12 Add claim rewards
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/osmosis/ClaimRewardsFlow/01-SelectValidator.js
  apps/ledger-live-mobile/src/families/osmosis/ClaimRewardsFlow/02-SelectMethod.js
  apps/ledger-live-mobile/src/families/osmosis/ClaimRewardsFlow/04-ValidationError.js
  apps/ledger-live-mobile/src/families/osmosis/ClaimRewardsFlow/04-ValidationSuccess.js
  apps/ledger-live-mobile/src/families/osmosis/ClaimRewardsFlow/index.js
  apps/ledger-live-mobile/src/families/osmosis/index.js
Labels: mobile, fork

#15 fix: use empty string as default memo
  libs/ledger-live-common/src/families/osmosis/js-signOperation.ts
Labels: common, fork

#17 Feat/celo llm lock
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/01-Amount.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/index.js
  apps/ledger-live-mobile/src/families/celo/LockingFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/LockingFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/01-Started.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/index.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/SendRowsFee.js
  apps/ledger-live-mobile/src/families/celo/TestNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/index.js
  apps/ledger-live-mobile/src/families/index.js
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#22 Feat/celo staking llm delegation dashboard
  .changeset/rich-pugs-switch.md
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/celo/AccountBodyHeader.js
  apps/ledger-live-mobile/src/families/celo/Delegations/LabelRight.js
  apps/ledger-live-mobile/src/families/celo/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/utils.tsx
  apps/ledger-live-mobile/src/families/celo/Icon.tsx
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/icons/Loader.js
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, common, translations, fork
